<div class="preview d-flex flex-column gap-3 rounded-4 ms-4 shadow">
  <div class="mt-4 ms-4">
    <h4 class="ComLinha">
      <i class="bi bi-fire"><small class="MaisLidas">Mais Lidas</small></i>
    </h4>
    <div
      *ngFor="let slide of slides; let i = index"
      class="preview-image rounded overflow-hidden border mt-2 shadow"
      [class.active]="i === currentSlideIndex"
      (click)="setSlide(i)"
      style="cursor: pointer"
    >
      <div
        class="rounded-circle Numero d-flex justify-content-center align-items-center text-light"
      >
        {{ i + 1 }}
      </div>
    </div>
  </div>
</div>
