.bg-custom-red {
  background-color: #dc2626; // Tailwind bg-red-600
}

.bg-custom-red-dark {
  background-color: #991b1b; // Tailwind bg-red-800

  &:hover {
    background-color: #7f1d1d; // Tailwind bg-red-900
  }
}
.tight-stack > span {
  margin-bottom: 0.1rem; /* pouco espaço entre os spans */
  margin-top: 0;
}

span:last-of-type {
  margin-top: -70px;
  margin-left: auto;
  padding: 0;
}
.logo {
  width: 180px;
  height: 120px;
  margin-top: -30px;
  margin-left: 30px;
}
