.bg-custom-red {
  background-color: #b91c1c;
}

.bg-custom-red:hover {
  background-color: #e53e3e;
}

header {
  display: block;
  background-image: linear-gradient(to right, #c41e3a, #e53e3e);

  .logo {
    width: 200px;
    height: 120px;
    margin-top: -30px;

    .FastNews {
      color: white;
      font-size: 79px;
    }

    .Blog {
      color: white;
      font-size: 68px;
    }

    span:last-of-type {
      margin-top: -70px;
      margin-left: auto;
      padding: 0;
    }
  }

  .boxinput {
    width: 30%;
  }

  .pesquisa {
    height: 48px;
    width: 100%;
  }

  .botao {
    margin-left: -57px;
    background-color: #c41e3a;
    height: 41px;
    width: 52px;
  }
}
