/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

.jomhuria {
  font-family: "Jomhuria", cursive;
}
.fs-68 {
  font-size: 68px !important;
}
.fs-79 {
  font-size: 79px !important;
}
