<div class="boxdeimagem shadow-lg border-0 rounded-4">
  <div
    class="bg-dark text-white border-0 rounded-4"
    style="height: 400px; position: relative"
  >
    <img
      [src]="currentSlide.image"
      class="object-fit-cover rounded-4"
      alt="slide"
    />

    <div
      class="position-absolute top-0 start-0 d-flex flex-column justify-content-end p-4 rounded-4 blackbox"
      style="background: rgba(0, 0, 0, 0.4)"
    >
      <h2 class="fw-bold">{{ currentSlide.title }}</h2>
      <p class="mb-3">{{ currentSlide.data }}</p>
    </div>
  </div>
</div>
